<ul xpsui-menu-items>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.person.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/person'|xpsuiuriescape}}"><span>{{'menu.new.person.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/person'|xpsuiuriescape}}"><span>{{'menu.search.person.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/player'|xpsuiuriescape}}"><span>{{'menu.search.player.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/referee'|xpsuiuriescape}}"><span>{{'menu.search.referee.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/coach'|xpsuiuriescape}}"><span>{{'menu.search.coach.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/officer'|xpsuiuriescape}}"><span>{{'menu.search.officer.lower.level' | translate}}</span></a></li>
		</ul>
	</li>

	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.stadium.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/stadium'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/stadium'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.club.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/club'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/club'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.fees.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/fees#'|xpsuiuriescape}}"><span>{{'menu.fees.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/fees#'|xpsuiuriescape}}"><span>{{'menu.fees.search.lower.level' | translate}}</span></a></li>
			<li><a href="#/registry/new/{{'uri://registries/payments'|xpsuiuriescape}}"><span>{{'menu.payments.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/payments'|xpsuiuriescape}}"><span>{{'menu.payments.lower.level' | translate}}</span></a></li>

			<li><a href="#/registry/new/{{'uri://registries/imports'|xpsuiuriescape}}"><span>{{'menu.imports.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/imports'|xpsuiuriescape}}"><span>{{'menu.imports.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.event.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/events'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/events'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.transfer.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/transfer'|xpsuiuriescape}}"><span>{{'menu.new.lower.level.she' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/transfer'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.massmailing.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/mailtemplates#master'|xpsuiuriescape}}"><span>{{'menu.massmailing.new.lower.level' | translate}}</span></a></li>	
			<li><a href="#/search/{{'uri://registries/mailtemplates#master'|xpsuiuriescape}}"><span>{{'menu.massmailing.search.lower.level' | translate}}</span></a></li>
			<li><a href="#/massmailing"><span>{{'menu.massmailing.send.title' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.roster.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/roster'|xpsuiuriescape}}"><span>{{'menu.new.lower.level.she' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/roster'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.age.category.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/ageCategory'|xpsuiuriescape}}"><span>{{'menu.new.lower.level.she' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/ageCategory'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.season.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/season'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/season'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.competition.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/competition'|xpsuiuriescape}}"><span>{{'menu.new.lower.level.she' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/competition'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.competitionPart.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/competitionPart'|xpsuiuriescape}}"><span>{{'menu.new.lower.level.she' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/competitionPart'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.schedule.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/schedule'|xpsuiuriescape}}"><span>{{'menu.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/schedule'|xpsuiuriescape}}"><span>{{'menu.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.refereeReport.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/refereeReport'|xpsuiuriescape}}"><span>{{'menu.refereeReport.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/refereeReport'|xpsuiuriescape}}"><span>{{'menu.refereeReport.search.lower.level' | translate}}</span></a></li>
			<li><a href="#/registry/new/{{'uri://registries/nomination'|xpsuiuriescape}}"><span>{{'menu.nomination.new.lower.level' | translate}}</span></a></li>
			<li><a href="#/search/{{'uri://registries/nomination'|xpsuiuriescape}}"><span>{{'menu.nomination.search.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.my.profile.title' | translate}}</span></a>
		<ul>
			<li><a href="#/personal-page"><span>{{'menu.profile.lower.level' | translate}}</span></a></li>
			<li><a href="#/personal-change-password"><span>{{'menu.change.password.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.permissions.title' | translate}}</span></a>
		<ul>
			<li><a href="#/registry/new/{{'uri://registries/security#groupmaster'|xpsuiuriescape}}"><span>{{'menu.new.group.lower.level' | translate}}</span></a></li>
			<li><a href="#/security/group/edit/"><span>{{'menu.permission.groups.lower.level' | translate}}</span></a></li>
			<li><a href="#/security/user/edit"><span>{{'menu.user.permissions.lower.level' | translate}}</span></a></li>
			<li><a href="#/registry/new/{{'uri://registries/security#profilesmaster'|xpsuiuriescape}}"><span>{{'menu.new.profile.lower.level' | translate}}</span></a></li>
			<li><a href="#/security/profile/edit"><span>{{'menu.profiles.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.statistics.title' | translate}}</span></a>
		<ul>
			<li><a href="#/statistics"><span>{{'menu.statistics.show.title' | translate}}</span></a></li>
		</ul>
	</li>
	<li><a href="#" class="x-submenu-toggle"><i class="fa fa-group fa-2x"></i><span>{{'menu.schemas.title' | translate}}</span></a>
		<ul>
			<li><a href="#/schema/edit"><span>{{'menu.schema.list.lower.level' | translate}}</span></a></li>
		</ul>
	</li>
</ul>
